{% extends "Comedor/base.html" %}
{% load widget_tweaks %}

{% block title %}
	Checkout
{% endblock %}

{% block content %}

	<h1>Pago con tarjeta</h1>
	<h2>Pasa tu tarjeta por el lector...</h2>



	<form action="." method="post" class="order-form" onsubmit="return checkvalue(this)">
		<h5>Numero de Tarjeta:</h5>
		{{ form.numerotarjeta |attr:"autofocus" | attr:"onblur=this.focus()"}}
		<p><input type="submit" value="Enviar Orden"></p>
		{% csrf_token %}
	</form>

{% endblock %}

{% block js %}
<script >
	function checkvalue() { 
    var mystring = document.getElementById('id_numerotarjeta').value; 
    if(!mystring.match(/\S/)) {
        alert ('Por favor ingrese su tarjeta.');
        return false;
    } else 
        return true;
    }
</script>

{% endblock %}